@use '../../../../mixins.scss';
@use '../../../../variables.scss';

.planets {
  @include mixins.center;
  flex-direction: column;

  &-title {
    margin-top: 2em;
    margin-bottom: 1em;
  }

  &-description {
    margin: 1em 0;
  }

  &-cards {
    display: flex;
    gap: 10em;
    margin-bottom: 2em;
    background-color: variables.$bg-color-gray;
    width: 90%;
    height: 700px;
    border-radius: 10px;

    .card-container {
      display: flex;
      justify-content: center;
      margin-top: 1em;
      flex-wrap: wrap;
      padding-bottom: 2em;
      gap: 1rem;

      .card {
        text-align: center;
        width: 20%;
        border: 2px solid #fff;
        border-radius: 8px;
        padding: .8rem .9rem;
        background: variables.$bg-color-purple;
        height: 300px;
        margin: .5em;
        transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);

        &:hover {
          transform: scale(1.05)
        }

        .card-link {
          transition: .2s;

          &:hover {
            opacity: .5;
          }
        }
        .planets-img {
          width: 90%;
        }

        .planets-subtitle {
          margin-top: 1em;
          color: #DAA520;
        }

        .planets-description {
          font-size: 17px;
          margin: .6em 0;
        }
      }
    }
  }
}

@media (max-width: 700px) {

  .planets {
    text-align: center;

    &-title {
      margin: .5em;
      text-align: center;
    }

    &-description {
      margin: 1em;
    }

    &-cards {
      height: 2800px;
      .card-container {

        .card {
          width: 100%;
          height: 320px;
        }
      }
    }
  }

}
