<div class="about" [@slide]>
  <h1 class="about-title">Criador do Projeto:</h1>
  <img class="about-img" src="https://avatars.githubusercontent.com/u/90110046?v=4" alt="Foto de Perfil" />
  <p class="about-description">
    Eduardo Vinicius Barbosa é desenvolvedor Front-End. Neste Projeto foi utilizado <br>
    o framework Angular junto com SCSS para a estilização.
  </p>
  <p class="about-description">
    A fonte das informações foi retirada aqui:
    <a href="https://brasilescola.uol.com.br/geografia/sistema-solar.htm" target="_blank">Brasil Escola</a>
  </p>
</div>
