.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-title {
    margin: .5em 0;
  }

  &-subtitle {
    margin: .5em 0;
  }

  &-description {
    margin: .5em 0;
  }

  &-img {
    width: 700px;
    height: 400px;
    margin: 1em 0;
    border-radius: 5px;
  }

  &-list {
    list-style: circle;

    .list {
      margin: 1em 0;
    }
  }
}

@media (max-width: 700px) {
  .home {

    &-description {
      margin: .5em .8em;
    }

    &-img {
      width: 330px;
      height: 200px;
    }

    &-subtitle {
      margin: .5em .8em;
    }

    &-list {
      list-style: none;

      .list {
        margin: 1em 1em;
      }
    }
  }
}
