<div class="home" [@fade]>
  <h1 class="home-h1">Sistema Solar</h1>
  <p class="home-description">O Sistema Solar é um conjunto formado por oito planetas e outros corpos celestes, que orbitam o Sol, <br>
      a sua principal estrela. Está localizado na Via Láctea, uma das galáxias que formam o Universo. <br>
      São planetas do Sistema Solar: Mercúrio, Vênus, Terra, Marte, Júpiter, Saturno, Urano e Netuno.
  </p>
  <img
    class="home-img"
    src="../../../assets/images/solar-system-5611038_1280.png"
    alt="Sistema Solar"
    [@zoomIn]="state" (mouseover)="onMouseOver()" (mouseleave)="onMouseLeave()"
  />
  <h2 class="home-h2">
      Quantos planetas existem no Sistema Solar?
  </h2>
  <p class="home-description">
      Atualmente, o Sistema Solar é oficialmente constituído por oito planetas e cinco planetas anões.
  </p>
  <h2 class="home-h2">
    Curiosidades sobre o Sistema Solar
  </h2>
  <ul class="home-ul">
    <li>
      No máximo duas horas antes de o Sol nascer ou duas horas antes de o Sol se pôr, é possível avistar Mercúrio <br>
      a olho nu.
    </li>
    <li>
      Um dia em Vênus é maior que um ano na Terra.
    </li>
    <li>
      Em Marte, há diversos vulcões inativos. O maior deles é conhecido como Olympus Mons.
    </li>
    <li>
      Em 1971, foi colocada na órbita de Marte a sonda Mariner, que fez fotos da superfície do planeta,
      mostrando detalhes de até um quilômetro.
    </li>
    <li>
      Júpiter possui mais de 60 satélites naturais de pequenas dimensões.
    </li>
    <li>
      Saturno possui cerca de 60 luas.
    </li>
    <li>
      A presença de metano na atmosfera de Netuno lhe confere a cor azulada.
    </li>
    <li>
      Embora Mercúrio esteja mais perto do Sol, ele não é o mais quente. Vênus é quem ocupa esse posto, <br>
      uma vez que possui uma atmosfera composta por CO2, que cria uma espécie de efeito estufa no planeta, <br>
      elevando sua temperatura a mais de 460ºC.
    </li>
  </ul>
</div>
