.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .home-h1 {
    margin: .5em 0;
  }

  .home-h2 {
    margin: .5em 0;
  }

  .home-description {
    margin: .5em 0;
  }
  .home-img {
    width: 700px;
    height: 400px;
    margin: 1em 0;
    border-radius: 5px;
  }

  .home-ul {
    list-style: circle;

    li {
      margin: 1em 0;
    }
  }
}

@media (max-width: 700px) {
  .home {

    .home-description {
      margin: .5em .8em;
    }

    .home-img {
      width: 330px;
      height: 200px;
    }

    .home-h2 {
      margin: .5em .8em;
    }

    .home-ul {
      list-style: none;

      li {
        margin: 1em 1em;
      }
    }
  }
}
