@use '../../../../mixins.scss';

.not-found {
  @include mixins.center;
  flex-direction: column;

  &-title {
    margin: 2em 0;
  }

  &-img {
    width: 700px;
    height: 400px;
    margin-bottom: 2em;
  }

  &-subtitle {
    margin-bottom: 2em;
  }
}

@media (max-width: 700px) {

  .not-found {

    &-img {
      width: 340px;
      height: 340px;
    }

    &-subtitle {
      margin: 2em 1em;
      font-size: 35px;
    }
  }
}
